* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: NetflixSans;
    src: url(../fonts/NetflixSans/NetflixSansRegular.ttf);
}

body {
    margin: 20px 28px;
    font-family: Netflix, sans-serif;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
}

.container {
    width: 320px;
    padding: 16px;
    background-color: #191A1D;
    border-radius: 20px;
    color: white;
}

/* main PROFILE */


/* PROFILE BASE */
.profile__base {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.base__avatar {
    grid-row-start: span 2;
}

.base__stats {
    text-align: center;
    font-size: 16px;
    color: white;
    margin: 8px 8px 0px 16px;
    align-items: center;
    font-weight: 600;
}

.stats__desc {
    font-size: 12px;
    opacity: 0.6;
    font-weight: 300;
}

.base__btn {
    align-self: center;
    color: white;
    border-radius: 40px;
}

.base__btn--message {
    grid-column-start: span 2;
    font-size: 14px;
    background-color: #5458F7;
    text-align: center;
    padding: 3px 0px 4px;
    margin-left: 16px;
}

.base__btn--confirm {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    text-align: center;
    font-size: 13px;
    margin-left: 8px;
    padding: 4px 0px 5px;
}

/* PROFILE NICKNAME */
.profile__nickname {
    color: white;
}

.nickname__name {
    font-size: 20px;
    margin: 16px 0px 0px;
    font-weight: 600;
}

.nickname__hobbie {
    opacity: 0.6;
    font-size: 14px;
    margin: 8px 0px 0px;
}

/* PROFILE DESCRIPTION */
.profile__desc {
    color: white;
    font-size: 12px;
    line-height: 17px;
    margin: 4px 0px 4px;
}

.desc__links {
    color: #5458F7;
}

.desc__text {
    line-height: 7px;
}


/* main FOLLOWERS */
.main__followers {
    margin-top: 10px;
}

.followers__head {
    display: flex;
    justify-content: space-between;
}

.followers__heading {
    font-weight: 200;
    margin: 0;
}

.followers__icon {
    color: white;
    float: right;
}

/* followers GRID */
.followers__grid {
    display: grid;
    margin-top: 16px;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.grid__cell {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    border-radius: 12px;
    height: 160px;
    padding: 20px 0px;
}

.cell--item {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.cell__name {
    margin: 6px 0px 12px 0px;
    font-size: 14px;
}

.cell__btn {
    color: white;
    background-color: #5458F7;
    padding: 3px 18px;
    border-radius: 48px;
    font-size: 14px;
}

.cell__btn--followed {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    padding: 3px 18px;
    color: white;
    border-radius: 48px;
}

/* main GALLERY */
.main__gallery {
    margin-top: 10px;
    padding: 0px;
}

.gallery__head {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
}

.gallery__btn {
    background-color: #5458F7;
    color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 12px;
    padding: 0;
}

.gallery__btn2 {
    background-color: none;
    color: white;
}

.gallery__field {
    width: 226px;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    border-radius: 6px;
}

.gallery__field--text {
    font-size: 12px;
    margin: 5px 8px;
}

.gallery__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
}

/* gallery BOTTOM */
.gallery__bottom {
    padding: 0px 55px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom__icons {
    font-size: 18px;
    color: white;
}